# RStudio project files
.Rproj.user/

# R local/session files
.Rhistory
.RData
.Ruserdata

# Raw source data not included in GitHub repository
data-raw/

# Old local git backups
.git_old/
.git_backup*/

# OS files
.DS_Store
